spec:
  replicas: 1
  template:
    spec:
      containers:
        -
          resources:
            requests:
              cpu: "0.2"
#              memory: 256Mi
            limits:
              cpu: "1.0"
#              memory: 256Mi
          env:
          - name: ACTIVEMQ_SERVICE_NAME
            value: amq63-broker-amq-tcp
          - name: ACTIVEMQ_BROKER_USERNAME
            value: amq
          - name: ACTIVEMQ_BROKER_PASSWORD
            value: amq@ocp
          - name: ACTIVEMQ_POOL_MAX_CONNECTIONS
            value: 10
          ports:
          - containerPort: 9090
            name: "jms-message-producer-route"
            protocol: "TCP"